<div class="container-fluid">
    <!-- Breadcrumb -->
  <!-- Breadcrumb -->
  <app-breadcrumb [title]="title" [level1]="level1" [level2]="level2" ></app-breadcrumb>

  <!-- Users filter form-->
  <div [style.display]="isFormListVisible ? 'block' : 'none'">
    <app-trips-manager-filter-form></app-trips-manager-filter-form>
  </div>

  <!-- Trip list -->
  <div [style.display]="isFormListVisible ? 'block' : 'none'">
    <app-trips-list [trip]="trip" (onNotifyShowTrip)="notifyShowTrip($event)">
    </app-trips-list>
  </div>

  <!-- User details -->
  <div [style.display]="isTripVisible ? 'block' : 'none'">
    <app-trip-details [trip]="trip" (onNotifyHideTrip)="notifyHideTrip($event)"></app-trip-details>
  </div>


</div>
