<div class="flex-container align-center flex-column">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form">

      <div class="flex-container flex-wrap">
        <div class="element">
          <label class="field-label">PoIs</label>
          <div class="flex-container" *ngIf="userForm.controls.pois !== undefined">
            <div *ngFor="let poi of userForm.controls.pois['controls']; let i=index;"
              class="flex-container  align-center multi-checkbox">
              <input type="checkbox" [formControl]="poi" (change)="getSelectedPoIs(poi, availablePoIs[i].id);">
              {{availablePoIs[i].name}}
            </div>
          </div>
        </div>
        <div class="element">
          <label class="field-label">Selected PoIs:</label>
          <div class="flex-container">
            <label *ngFor="let hobby of selectedPoIsNames;">
              {{hobby}}
            </label>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-sm form-btn-search ml-0"
                    style="margin-top: 0px;">Enregistrer</button>
    </form>
  </div>