<div>

    <h6> {{ pager.totalElements + " utilisateurs trouvés"}} </h6>

    <ul class="list-unstyled mt-3">
        <li *ngFor="let user of users" class="media">
            <img src="../../../../assets/10303-man-office-worker-light-skin-tone-icon.png" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{ user.firstname + " " + user.lastname + " (" + user.login + ")" }}</h5>
                <small>{{ "Habite à " + user.city.name }}</small>
                <p>{{ user.description }}</p>
            </div>
            <button type="button" class="btn btn-info btn-sm" (click)="showUser(user)">Détails</button>
        </li>
    </ul>

    <!-- Paginator -->
    <app-my-paginator 
    [pagerParams]="pager" 
    (notifyPagination)="onPaginate($event)"
    ></app-my-paginator>
</div>

