<div>

    <h5> {{ pager.totalElements + " utilisateurs trouvés"}} </h5>

    <ul class="list-group mt-3">
        <li *ngFor="let user of users" class="list-group-item list-group-item-action ">
            <div class="media">
            <img [src]="user.avatar" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{ user.firstname + " " + user.lastname + " (" + user.login + ")" }}</h5>
                <p>{{ user.gender + ", " + user.age + " ans - "}} Inscrit depuis le
                    {{ user.dateCreation }}
                    <br/>
                    {{ "Habite à " + user.city.name }}
                </p>
                    <button type="button" class="btn btn-info btn-sm" (click)="showUser(user)">Détails</button>
            </div>
        </div>
        </li>
    </ul>

    <!-- Paginator -->
    <app-my-paginator 
    [pagerParams]="pager" 
    (notifyPagination)="onPaginate($event)"
    ></app-my-paginator>
</div>

