<p>trip-details works!</p>

<div class="media">
    <div class="pull-left">
        <img alt="Apprendre la méditation chez soi" width="200" height="200" src="https://www.toutpoursortir.fr/images/events/2020/03/7500-apprendre-meditation-chez-soi-200x200.jpeg" class="img-thumbnail" itemprop="photo">			<br><br>
        <div id="partage" class="text-center">
                            <strong>Invite tes amis à sortir avec toi !</strong><br>
            <a target="_blank" rel="nofollow" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.toutpoursortir.fr%2F%2Fsortir-paris-1%2F7500-apprendre-meditation-chez-soi.html" onclick="javascript:window.open(this.href, 'Partager sur Facebook', 'toolbar=0,status=0,width=548,height=325'); return false;"><span class="sprite sprite-social-facebook"></span></a>
            <a target="_blank" rel="nofollow" href="https://twitter.com/share?url=https%3A%2F%2Fwww.toutpoursortir.fr%2F%2Fsortir-paris-1%2F7500-apprendre-meditation-chez-soi.html&amp;text=ToutPourSortir.fr+-+Apprendre+la+m%C3%A9ditation+chez+soi&amp;via=ToutPourSortir" onclick="javascript:window.open(this.href, 'Partager sur Twitter', 'toolbar=0,status=0,width=548,height=325'); return false;"><span class="sprite sprite-social-twitter"></span></a>
            <a target="_blank" rel="nofollow" href="mailto:?subject=ToutPourSortir.fr - Apprendre la méditation chez soi&amp;body=https%3A%2F%2Fwww.toutpoursortir.fr%2F%2Fsortir-paris-1%2F7500-apprendre-meditation-chez-soi.html"><span class="sprite sprite-social-email"></span></a>
        </div>
    </div>
    <div class="media-body">
        <dl class="dl-horizontal">
            <dt>Organisateur</dt>
            <dd><a href="/trombi/instantpresent" class="nickname male vcard">instantpresent</a></dd>
            
            <dt>Téléphone</dt>
            <dd>NC</dd>
        </dl>
        
        <dl >
            <dt>Ville</dt>
            <dd itemprop="location">Paris 1er (75001)</dd>
            
            <dt>Date de la sortie</dt>
            <dd>dimanche 22 mars 2020</dd>
            
            <dt>Heure de début</dt>
            <dd><time itemprop="startDate" datetime="2020-03-22T19:45:00+01:00">19:45</time></dd>
            
            <dt>Heure de fin</dt>
            <dd><time itemprop="endDate" datetime="2020-03-22T21:45:00+01:00">21:45</time></dd>
        </dl>
        
                    <dl class="dl-horizontal">
            <dt>Adresse exacte</dt>
            <dd><address>A domicile</address></dd>
            
            <dt>Lieu de RDV</dt>
            <dd><address>En cliquant sur ce lien:<br>
https://www.youtube.com/playlist?list=PLGrGY2JUdKNglRCuONjEZSZPR</address></dd>
        </dl>
                </div>
</div>